
language: java

sudo: false

jdk:
  - oraclejdk8

before_script:
  - chmod +x gradlew

script:
  - ./gradlew check
  - ./gradlew build test

after_success:
  - bash <(curl -s https://codecov.io/bash)
